<div class="site-content" ui-view="content">
    <div class="floating-unit">
        <a class="signin-pb-logo" href="http://www.pb.com"></a>

        <!-- white box -->
        <div class="signin-box">
            <h2 class="text-magenta spacer-top-xs">
                <span translate="WELCOME">Welcome
                </span>
            </h2>
            <form autocomplete="off" name="myForm" class="spacer-top-md" novalidate="" style=""></form>
            <div class="form-group" ng-class="{'has-error': myForm.name.$error.required  && myForm.name.$dirty}">
                <label for="name">
                    <span translate="EMAIL_LABEL">Email</span>
                </label>
                <input class="form-control" name="name" required="" type="text">
                <span class="help-block" ng-show="myForm.name.$error.required && myForm.name.$dirty">
                    <span translate="INVALID_EMAIL">Enter a valid email address.</span>
                </span>
            </div>
            <div class="form-group spacer-bottom-sm">
                <label for="name">
                    <span translate="PASSWORD_LABEL">Password</span>
                </label>
                <pbds-password-reveal link-show="Show" link-hide="Hide">
                    <span class="password-reveal">

                        <input class="form-control" name="name" type="password" ng-init="signin.focus = false" ng-focus="signin.focus = !signin.focus"
                            ng-blur="signin.focus = !signin.focus">
                        <a class="small" href="" ng-click="ctrl.click()">
                            <!---->
                            <span ng-if="!ctrl.isHidden" class="" style="">Show</span>
                            <!---->
                            <!---->
                        </a>
                    </span>
                </pbds-password-reveal>
            </div>
            <div class="form-group spacer-bottom-sm">
                <label for="name">
                    <span translate="CONFIRM_PASSWORD_LABEL">Confirm password</span>
                </label>
                <pbds-password-reveal link-show="Show" link-hide="Hide">
                    <span class="password-reveal">
                        
                            <input class="form-control" name="name" type="password" ng-init="signin.focus = false" ng-focus="signin.focus = !signin.focus"
                                ng-blur="signin.focus = !signin.focus">
                        <a class="small" href="" ng-click="ctrl.click()">
                            <!---->
                            <span ng-if="!ctrl.isHidden">Show</span>
                            <!---->
                            <!---->
                        </a>
                    </span>
                </pbds-password-reveal>
            </div>
            <div uib-collapse="!signin.focus" class="collapse" style="height: 0px;">
                <div class="alert alert-info">
                    <span translate="YOUR_PASSWORD_MUST_BE">Your password must be at least 8 characters long and contain an uppercase letter plus at least one digit
                        or special character.</span>
                </div>
            </div>
            <button class="btn btn-primary btn-block btn-lg" type="submit">
                <span translate="COMPLETE_MY_REGISTRATION">Complete My Registration</span>
            </button>
            </form>
            <p class="spacer-top-md">
                <span translate="AGREE_TO_TERMS">By clicking "Complete My Registration" you agree to our
                    <a href="">terms of use</a>,
                    <a href="">privacy</a> and
                    <a href="">refund policies</a>.</span>
            </p>
        </div>
        <!-- // end white box -->
    </div>
</div>