<div class="container-fluid">
  <div class="row two-col-wrapper" style="background-color: #f8f8f8">
    
    <div class="col-md-10 col-md-offset-2 main-content">
      <!-- <div class="secondary-menu-1">
        <div class="row"> -->
      <div class="col-md-12">
        <div class="pull-left">
          <ol class="breadcrumb">
            <li>
              <a ui-sref="apps">Applications</a>
              </i>
            </li>
            <li>{{app.data.name}}</li>
          </ol>
        </div>
        <!-- </div>
        </div> -->
      </div>

      <div class="col-md-10">
        <div class="card card-shadowed">
          <div class="card-body">
            <div class="row">
              <div class="col-md-2">
                <img ng-src="{{app.data.icon_url}}" class="img-responsive" alt="">
              </div>
              <div class="col-md-6">
                <h2 class="m-t-0 m-b-0 text-primary font-bold">{{app.data.name}}</h2>
                <h4 class="m-t-0 font-bold">{{app.data.categories.join(", ")}}&nbsp;&nbsp;
                  <span class="label label-success">4.2</span>
                </h4>
                <p class="m-t-0">Version {{app.data.version}}</p>
              </div>
              <div class="col-md-4">
                <div class="pull-right">
                  <button class="btn btn-primary btn-sm">Add to wishlist</button>
                  <button class="btn btn-primary btn-sm" ng-click="app.downloadApp()">{{app.data.application_type == 'webapp' ? 'Get Started' : 'Get App'}}</button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="detail-section">
                  <h3 class="text-primary">Banner</h3>
                  <img ng-src="{{app.data.banner_url}}" width=100%; class="img-responsive" alt="">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="detail-section">
                  <h3 class="text-primary">Screenshots</h3>
                  <slick settings="app.imageGallery.settings">
                    <div class="image-gallery-item thumbnail" ng-class="{'active': app.imageGallery.selected === $index}" ng-repeat="i in app.imageGallery.items">
                      <a id="fb-{{$index}}" alt="Image name" ng-href="{{i.imageName}}" fancyboxable="{type: 'image'}">
                        <img ng-src="{{i.imageName}}" class="img-responsive" />
                      </a>
                    </div>
                  </slick>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="detail-section">
                  <h3 class="text-primary">Description</h3>
                  <p>{{app.data.description}}</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="detail-section">
                  <h3 class="text-primary">What's new</h3>
                  <p>Technical improvements and bug fixes.</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="detail-section">
                  <h3 class="text-primary">Additional Information</h3>
                  <div class="row">

                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="info">
                            <h3 class="title ">Bundle Id</h3>
                            <p class="content">{{app.data.application_id}}</p>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="info">
                            <h3 class="title ">OS Type</h3>
                            <p class="content">{{app.data.application_type}}</p>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="info">
                            <h3 class="title ">Build</h3>
                            <p class="content">1</p>
                          </div>
                        </div>
                      </div>
                      <div class="row m-t-3">

                        <div class="col-md-4">
                          <div class="info">
                            <h3 class="title ">Added by</h3>
                            <p class="content">Pitney Bowes</p>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="info">
                            <h3 class="title ">Version</h3>
                            <p class="content">{{app.data.version}}</p>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="info">
                            <h3 class="title ">Min OS Version</h3>
                            <p class="content">{{app.data.min_os_version}}</p>
                          </div>
                        </div>
                      </div>
                      <div class="row m-t-3">

                        <div class="col-md-4">
                          <div class="info">
                            <h3 class="title ">Category</h3>
                            <p class="content">{{app.data.categories.join(", ")}}</p>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="info">
                            <h3 class="title ">Published on</h3>
                            <p class="content">{{app.data.created_at | date}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="detail-section">
                  <h3 class="text-primary">Reviews</h3>
                  <div class="row m-t-3">
                    <div class="col-md-4">
                      <p class="rating-value">4.2</p>
                      <rating max=5 size=13px color="#737373" align="left" value="app.ratingValue"></rating>
                      <div>
                        <span class="nc-icon-mini users_single-05"></span> 6540 total
                      </div>
                    </div>
                    <div class="col-md-8 m-p-0">
                      <div class="col-md-12 m-p-0">
                        <div class="star-label">
                          <span class="star glyphicon glyphicon-star"></span>
                          <span>5</span>
                        </div>
                        <div class="progress rating-progress ">

                          <div class="progress-bar star-5" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                            <span class="sr-only">4,606</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12 m-t-5 m-p-0">
                        <div class="star-label">
                          <span class="star glyphicon glyphicon-star"></span>
                          <span>4</span>
                        </div>
                        <div class="progress rating-progress ">

                          <div class="progress-bar star-4" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                            <span class="sr-only">860</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12 m-t-5 m-p-0">
                        <div class="star-label">
                          <span class="star glyphicon glyphicon-star"></span>
                          <span>3</span>
                        </div>
                        <div class="progress rating-progress ">

                          <div class="progress-bar star-3" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:15%">
                            <span class="sr-only">300</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12 m-t-5 m-p-0">
                        <div class="star-label">
                          <span class="star glyphicon glyphicon-star"></span>
                          <span>2</span>
                        </div>
                        <div class="progress rating-progress ">

                          <div class="progress-bar star-2" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:12%">
                            <span class="sr-only">90</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12 m-t-5 m-p-0">
                        <div class="star-label">
                          <span class="star glyphicon glyphicon-star"></span>
                          <span>1</span>
                        </div>
                        <div class="progress rating-progress ">

                          <div class="progress-bar star-1" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:14%">
                            <span class="sr-only">278</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>

</div>

</div>

<!-- <div class="container">
  <div class="row">
      <div class="col-md-12">
        <img ng-src="{{app.data.icon_url}}" />
        <h3>{{app.data.name}}</h3>
        <h4>{{app.data.catchphrase}}</h4> 

         <!-- gallery large image -->
<!-- <div class="row spacer-bottom-md">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    <img class="img-responsive thumbnail" alt="Image name" ng-src="{{app.imageGallery.selectedImage}}" />
  </div>
</div>

<!-- slick carouse
<slick settings="app.imageGallery.settings">
  <div class="image-gallery-item thumbnail" ng-class="{'active': app.imageGallery.selected === $index}" ng-repeat="i in app.imageGallery.items"
    ng-click="app.imageGallery.click(i, $index)">
    <img class="img-responsive" alt="Image name" ng-src="{{i.imageName}}" />
  </div>
</slick>


</div>
</div>
</div> -->