.secondary-menu-1 { padding: 0px 20px 22px 20px; }

.breadcrumb { margin: 18px 0 !important; }

.breadcrumb li { font-size: 18px; font-weight: bold; }

.breadcrumb li a { text-decoration: none; }

.detail-section { margin-top: 50px; }

.detail-section h3 { font-size: 18px; }

.info { padding-right: 15px; }

.info h3 { color: #a0a0a0; font-size: 16px; }

.info p { font-size: 16px; word-wrap: break-word; }

p { color: black; }

.label { padding: .4em 0.3em .4em; font-size: 17px; }

p.rating-value { font-size: 60px; }

.star { color: #737373; font-size: 14px; }

.star-label { float: left; margin-right: 5px; margin-top: 2px; }

.rating-progress { background-color: #ffffff; border-radius: 0; box-shadow: none !important; }

.star-5 { background-color: #a6bf6c; }

.star-4 { background-color: #b6d365; }

.star-3 { background-color: #fbd96d; }

.star-2 { background-color: #ffb563; }

.star-1 { background-color: #f29268; }

.progress { height: 25px !important; box-shadow: none !important; -webkit-box-shadow: none !important; }

.progress-bar { line-height: 24px !important; color: #000; text-align: left; padding-left: 5px; }

.sr-only { position: inherit !important; }

header i.nc-icon-outline { font-size: 20px; }

.leftnav .section-group:not(:first-child) { border-top: solid 1px #c0c0c0; margin-top: 10px; padding-top: 15px; }

.leftnav { border-right: solid 1px #c0c0c0; background-color: #f8f8f8; padding-top: 10px; min-height: 100%; }

.two-col-wrapper { min-height: calc(100vh - 75px); height: calc(100vh - 75px); display: -ms-flexbox; display: flex; -ms-flex-align: stretch; align-items: stretch; overflow: hidden; }

.main-content { padding: 0px; overflow: auto; }

.secondary-menu { padding: 18px 20px 22px 20px; background-color: #f8f8f8; }

.font-bold { font-weight: bold; }

.search-box { position: relative; }

.search-box span { position: absolute; top: 15px; font-size: 10px; left: 12px; color: gray; }

.search-box input { padding-left: 32px; }

.site-content { margin-bottom: 0px; }

.app-content { padding-left: 20px; padding-right: 20px; height: calc(100vh - 150px); overflow-y: auto; overflow-x: hidden; }

/*
.app.panel.category-widget{
  box-shadow: 0 3px 7px rgba(0,0,0,0.07);
  img{
    max-height: 48px;
    max-width: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .panel-footer{
    height: 96px;
    max-height: 96px;
    min-height: 96px;
    position: relative;
  }
  .panel-body{
    padding: 10px;
  }
  .category-widget-title{
    font-size: 14px;
    font-weight: bold;
    min-height: 40px;
    margin-bottom: 5px;
  }

  .category-widget-description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    line-height: 16px;
    max-height: 64px;
    min-height: 64px;
    font-size: 11px;
    
  }
  .category-widget-action{ 
    margin-top: 6px;
    .badge{
      font-size: 9px;
    }
    .badge:first-child{
      float: left;
    }
    .badge:last-child{
      float: right;
      cursor: pointer;
    }
  }

  &:hover{
    background-color: #fff;
    .panel-footer{
      background-position: 200% 0;
    }
  }
}*/
.app.card.category-widget { box-shadow: 0 3px 7px rgba(0, 0, 0, 0.07); }

.app.card.category-widget img { max-height: 72px; max-width: 132px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }

.app.card.category-widget .card-footer { height: 96px; max-height: 96px; min-height: 96px; position: relative; }

.app.card.category-widget .card-body { padding: 10px; }

.app.card.category-widget .category-widget-title { font-size: 14px; font-weight: bold; min-height: 40px; margin-bottom: 5px; }

.app.card.category-widget .category-widget-description { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; line-height: 16px; max-height: 64px; font-size: 11px; }

.app.card.category-widget .category-widget-action { margin-top: 6px; }

.app.card.category-widget .category-widget-action .badge { font-size: 9px; }

.app.card.category-widget .category-widget-action .badge:first-child { float: left; }

.app.card.category-widget .category-widget-action .badge:last-child { float: right; cursor: pointer; }

.app.card.category-widget:hover { background-color: #fff; }

.app.card.category-widget:hover .card-footer { background-position: 200% 0; }

.app-content .row .col-sm-2 { padding-left: 15px; padding-right: 0px; }

/* .app-content .row .col-sm-2{
  padding-left: 0px;
  padding-right: 0px;
}

*{
  outline-color: transparent;
} */
.category-label { font-size: 16px; margin-top: 10px; }

.category-description { color: #c0c0c0; font-size: 12px; margin-bottom: 16px; }

.m-t-0 { margin-top: 0 !important; }

.m-b-0 { margin-bottom: 0 !important; }

.m-t-3 { margin-top: 30px; }

.m-t-5 { margin-top: 3px; }

.m-p-0 { padding: 0 !important; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL21vZHVsZXMvYXBwL2Fzc2V0cy9zYXNzL19hcHAuc2NzcyIsImFwcC5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUdBLG9CQUNJLDRCQUEyQixFQUM5Qjs7QUFDRCxjQUNRLDBCQUF5QixFQVFoQzs7QUFURCxpQkFHWSxnQkFBZSxDQUNmLGtCQUFpQixFQUlwQjs7QUFSVCxtQkFNZ0Isc0JBQXFCLEVBQ3hCOztBQU9iLGtCQUNJLGlCQUFnQixFQUluQjs7QUFMRCxxQkFHUSxnQkFBZSxFQUNsQjs7QUFHTCxRQUNJLG9CQUFtQixFQVV0Qjs7QUFYRCxXQUdRLGVBQXlCLENBQ3pCLGdCQUFlLEVBRWxCOztBQU5MLFVBUVEsZ0JBQWUsQ0FDZixzQkFBcUIsRUFDeEI7O0FBR0wsSUFDSSxhQUFZLEVBRWY7O0FBRUQsU0FDSSx5QkFBd0IsQ0FDeEIsZ0JBQWUsRUFDbEI7O0FBRUQsaUJBQ0ksZ0JBQWUsRUFDbEI7O0FBRUQsUUFDSSxlQUFjLENBQ2QsZ0JBQWUsRUFDbEI7O0FBRUQsY0FDSSxZQUFXLENBQ1gsa0JBQWlCLENBQ2pCLGdCQUFlLEVBQ2xCOztBQUVELG1CQUNJLDBCQUF5QixDQUN6QixpQkFBZ0IsQ0FDaEIsNEJBQTJCLEVBQzlCOztBQUVELFVBQ0ksMEJBQW9DLEVBQ3ZDOztBQUVELFVBQ0ksMEJBQW9DLEVBQ3ZDOztBQUVELFVBQ0ksMEJBQW9DLEVBQ3ZDOztBQUVELFVBQ0ksMEJBQW1DLEVBQ3RDOztBQUVELFVBQ0ksMEJBQW9DLEVBQ3ZDOztBQUVELFlBQ0ksd0JBQXVCLENBQ3ZCLDRCQUEyQixDQUMzQixvQ0FBbUMsRUFDdEM7O0FBRUQsZ0JBQ0ksNkJBQTRCLENBQzVCLFlBQVcsQ0FDWCxpQkFBZ0IsQ0FDaEIsa0JBQWlCLEVBQ3BCOztBQUVELFdBQ0ksNkJBQTRCLEVBQy9COztBQzdGRCwyQkFDRSxnQkFBZSxFQUNoQjs7QUFFRCw0Q0FDRSw4QkFBNkIsQ0FDN0IsaUJBQWdCLENBQ2hCLGtCQUFpQixFQUNsQjs7QUFFRCxXQUNFLGdDQUErQixDQUMvQiwwQkFBeUIsQ0FDekIsa0JBQWlCLENBQ2pCLGlCQUFnQixFQUNqQjs7QUFFRCxtQkFDRSwrQkFBOEIsQ0FDOUIsMkJBQTBCLENBRTFCLHFCQUFvQixDQUNwQixjQUFhLENBRWIsd0JBQXVCLENBQ3ZCLHFCQUFvQixDQUNwQixpQkFBZ0IsRUFDakI7O0FBRUQsZ0JBQ0UsYUFBWSxDQUNaLGVBQWMsRUFDZjs7QUFFRCxrQkFDRSw2QkFBNEIsQ0FDNUIsMEJBQXlCLEVBQzFCOztBQUVELGFBQ0Usa0JBQWlCLEVBQ2xCOztBQUVELGNBQ0UsbUJBQWtCLEVBV25COztBQVpELG1CQUdJLG1CQUFrQixDQUNsQixVQUFTLENBQ1QsZ0JBQWUsQ0FDZixXQUFVLENBQ1YsWUFBVyxFQUNaOztBQVJILG9CQVVJLG1CQUFrQixFQUNuQjs7QUFHSCxnQkFDRSxtQkFBa0IsRUFDbkI7O0FBRUQsZUFDRSxtQkFBa0IsQ0FDbEIsb0JBQW1CLENBQ25CLDRCQUEyQixDQUMzQixpQkFBZ0IsQ0FDaEIsbUJBQWtCLEVBQ25COztBQUlEOzs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7R0E0REc7QUFFRiw0QkFDQywwQ0FBc0MsRUF5RHZDOztBQTFEQSxnQ0FHRyxpQkFBZ0IsQ0FDaEIsZ0JBQWUsQ0FDZixtQkFBa0IsQ0FDbEIsVUFBUyxDQUNULFNBQVEsQ0FDUixpQ0FBZ0MsRUFDakM7O0FBVEYseUNBV0csYUFBWSxDQUNaLGlCQUFnQixDQUNoQixpQkFBZ0IsQ0FDaEIsbUJBQWtCLEVBQ25COztBQWZGLHVDQWlCRyxjQUFhLEVBQ2Q7O0FBbEJGLG1EQW9CRyxnQkFBZSxDQUNmLGtCQUFpQixDQUNqQixpQkFBZ0IsQ0FDaEIsbUJBQWtCLEVBQ25COztBQXhCRix5REEyQkcsaUJBQWdCLENBQ2hCLHdCQUF1QixDQUN2QixxQkFBb0IsQ0FDcEIsc0JBQXFCLENBR3JCLGtCQUFpQixDQUNqQixpQkFBZ0IsQ0FDaEIsZ0JBQWUsRUFFaEI7O0FBckNGLG9EQXVDRyxnQkFBZSxFQVdoQjs7QUFsREYsMkRBeUNLLGVBQWMsRUFDZjs7QUExQ0osdUVBNENLLFlBQVcsRUFDWjs7QUE3Q0osc0VBK0NLLGFBQVksQ0FDWixnQkFBZSxFQUNoQjs7QUFqREosa0NBcURHLHVCQUFzQixFQUl2Qjs7QUF6REYsK0NBdURLLDRCQUEyQixFQUM1Qjs7QUFJTCw4QkFDRSxtQkFBa0IsQ0FDbEIsbUJBQWtCLEVBQ25COztBQUVEOzs7Ozs7O0lBT0k7QUFHSixrQkFDRSxnQkFBZSxDQUNmLGlCQUFnQixFQUNqQjs7QUFDRCx3QkFDRSxlQUFjLENBQ2QsZ0JBQWUsQ0FDZixvQkFBbUIsRUFDcEI7O0FBRUQsU0FDRSx5QkFBd0IsRUFDekI7O0FBRUQsU0FDRSw0QkFBMkIsRUFDNUI7O0FBRUQsU0FDRSxpQkFBZ0IsRUFDakI7O0FBQ0QsU0FDRSxnQkFBZSxFQUNoQjs7QUFFRCxTQUNFLHNCQUFxQixFQUN0QiIsImZpbGUiOiJhcHAuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLy8gcGxhY2Ugc2NzcyBmb3Igc3R5bGluZyB0aGlzIG1vZHVsZSBoZXJlXHJcbi8vIHRoaXMgZmlsZSBpcyBpbXBvcnRlZCBpbnRvIC9hcHAvYXNzZXRzL3Nhc3MvYXBwLnNjc3NcclxuXHJcbi5zZWNvbmRhcnktbWVudS0xIHtcclxuICAgIHBhZGRpbmc6IDBweCAyMHB4IDIycHggMjBweDtcclxufVxyXG4uYnJlYWRjcnVtYiB7XHJcbiAgICAgICAgbWFyZ2luOiAxOHB4IDAgIWltcG9ydGFudDtcclxuICAgICAgICBsaSB7XHJcbiAgICAgICAgICAgIGZvbnQtc2l6ZTogMThweDtcclxuICAgICAgICAgICAgZm9udC13ZWlnaHQ6IGJvbGQ7XHJcbiAgICAgICAgICAgIGEge1xyXG4gICAgICAgICAgICAgICAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xyXG4gICAgICAgICAgICB9XHJcbiAgICAgICAgfVxyXG59XHJcblxyXG5cclxuXHJcblxyXG4uZGV0YWlsLXNlY3Rpb24ge1xyXG4gICAgbWFyZ2luLXRvcDogNTBweDtcclxuICAgIGgzIHtcclxuICAgICAgICBmb250LXNpemU6IDE4cHg7XHJcbiAgICB9XHJcbn1cclxuXHJcbi5pbmZvIHtcclxuICAgIHBhZGRpbmctcmlnaHQ6IDE1cHg7XHJcbiAgICBoMyB7XHJcbiAgICAgICAgY29sb3I6IHJnYigxNjAsIDE2MCwgMTYwKTtcclxuICAgICAgICBmb250LXNpemU6IDE2cHg7XHJcbiAgICAgIFxyXG4gICAgfVxyXG4gICAgcCB7XHJcbiAgICAgICAgZm9udC1zaXplOiAxNnB4OyBcclxuICAgICAgICB3b3JkLXdyYXA6IGJyZWFrLXdvcmQ7XHJcbiAgICB9XHJcbn1cclxuXHJcbnAge1xyXG4gICAgY29sb3I6IGJsYWNrO1xyXG4gICAgLy8gZm9udC1zaXplOiAxNnB4O1xyXG59XHJcblxyXG4ubGFiZWwge1xyXG4gICAgcGFkZGluZzogLjRlbSAwLjNlbSAuNGVtO1xyXG4gICAgZm9udC1zaXplOiAxN3B4O1xyXG59XHJcblxyXG5wLnJhdGluZy12YWx1ZSB7XHJcbiAgICBmb250LXNpemU6IDYwcHg7XHJcbn1cclxuXHJcbi5zdGFyIHtcclxuICAgIGNvbG9yOiAjNzM3MzczO1xyXG4gICAgZm9udC1zaXplOiAxNHB4O1xyXG59XHJcblxyXG4uc3Rhci1sYWJlbCB7XHJcbiAgICBmbG9hdDogbGVmdDtcclxuICAgIG1hcmdpbi1yaWdodDogNXB4O1xyXG4gICAgbWFyZ2luLXRvcDogMnB4O1xyXG59XHJcblxyXG4ucmF0aW5nLXByb2dyZXNzIHtcclxuICAgIGJhY2tncm91bmQtY29sb3I6ICNmZmZmZmY7XHJcbiAgICBib3JkZXItcmFkaXVzOiAwO1xyXG4gICAgYm94LXNoYWRvdzogbm9uZSAhaW1wb3J0YW50O1xyXG59XHJcblxyXG4uc3Rhci01IHtcclxuICAgIGJhY2tncm91bmQtY29sb3I6IHJnYigxNjYsIDE5MSwgMTA4KTtcclxufVxyXG5cclxuLnN0YXItNCB7XHJcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiByZ2IoMTgyLCAyMTEsIDEwMSk7XHJcbn1cclxuXHJcbi5zdGFyLTMge1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogcmdiKDI1MSwgMjE3LCAxMDkpO1xyXG59XHJcblxyXG4uc3Rhci0yIHtcclxuICAgIGJhY2tncm91bmQtY29sb3I6IHJnYigyODYsIDE4MSwgOTkpO1xyXG59XHJcblxyXG4uc3Rhci0xIHtcclxuICAgIGJhY2tncm91bmQtY29sb3I6IHJnYigyNDIsIDE0NiwgMTA0KTtcclxufVxyXG5cclxuLnByb2dyZXNzIHtcclxuICAgIGhlaWdodDogMjVweCAhaW1wb3J0YW50O1xyXG4gICAgYm94LXNoYWRvdzogbm9uZSAhaW1wb3J0YW50O1xyXG4gICAgLXdlYmtpdC1ib3gtc2hhZG93OiBub25lICFpbXBvcnRhbnQ7XHJcbn1cclxuXHJcbi5wcm9ncmVzcy1iYXIge1xyXG4gICAgbGluZS1oZWlnaHQ6IDI0cHggIWltcG9ydGFudDtcclxuICAgIGNvbG9yOiAjMDAwO1xyXG4gICAgdGV4dC1hbGlnbjogbGVmdDtcclxuICAgIHBhZGRpbmctbGVmdDogNXB4O1xyXG59XHJcblxyXG4uc3Itb25seSB7XHJcbiAgICBwb3NpdGlvbjogaW5oZXJpdCAhaW1wb3J0YW50O1xyXG59IiwiLy8gaW1wb3J0IGZyb20gRFMgYm93ZXIgY29tcG9uZW50IHNvIHlvdSBjYW4gdXNlIHZhcmlhYmxlcyBhbmQgbWl4aW5zIGluIHlvdXIgU0NTU1xyXG5AaW1wb3J0ICcuLi8uLi9ib3dlcl9jb21wb25lbnRzL3BiLWRlc2lnbi1zeXN0ZW0vc2Fzcy9zZXR0aW5ncy92YXJpYWJsZXMnO1xyXG5AaW1wb3J0ICcuLi8uLi9ib3dlcl9jb21wb25lbnRzL3BiLWRlc2lnbi1zeXN0ZW0vc2Fzcy9zZXR0aW5ncy9taXhpbnMnO1xyXG4vLyBmb3IgZXhhbXBsZVxyXG4vLyAuc29tZXRoaW5nIHtcclxuLy8gICBjb2xvcjogJHBiLWJsdWUtNTAwO1xyXG4vLyB9XHJcblxyXG4vLyBpbXBvcnQgc2NzcyBwYXJ0aWFscyBmcm9tIG1vZHVsZXMgZm9sZGVyIGhlcmVcclxuQGltcG9ydCAnLi4vLi4vbW9kdWxlcy90YWJsZXMvYXNzZXRzL3Nhc3MvdGFibGVzJztcclxuQGltcG9ydCAnLi4vLi4vbW9kdWxlcy9ob21lL2Fzc2V0cy9zYXNzL2hvbWUnO1xyXG5AaW1wb3J0ICcuLi8uLi9tb2R1bGVzL2FwcC9hc3NldHMvc2Fzcy9hcHAnO1xyXG5cclxuaGVhZGVyIGkubmMtaWNvbi1vdXRsaW5lIHtcclxuICBmb250LXNpemU6IDIwcHg7XHJcbn1cclxuXHJcbi5sZWZ0bmF2IC5zZWN0aW9uLWdyb3VwOm5vdCg6Zmlyc3QtY2hpbGQpIHtcclxuICBib3JkZXItdG9wOiBzb2xpZCAxcHggI2MwYzBjMDtcclxuICBtYXJnaW4tdG9wOiAxMHB4O1xyXG4gIHBhZGRpbmctdG9wOiAxNXB4O1xyXG59XHJcblxyXG4ubGVmdG5hdiB7XHJcbiAgYm9yZGVyLXJpZ2h0OiBzb2xpZCAxcHggI2MwYzBjMDtcclxuICBiYWNrZ3JvdW5kLWNvbG9yOiAjZjhmOGY4O1xyXG4gIHBhZGRpbmctdG9wOiAxMHB4O1xyXG4gIG1pbi1oZWlnaHQ6IDEwMCU7XHJcbn1cclxuXHJcbi50d28tY29sLXdyYXBwZXIge1xyXG4gIG1pbi1oZWlnaHQ6IGNhbGMoMTAwdmggLSA3NXB4KTtcclxuICBoZWlnaHQ6IGNhbGMoMTAwdmggLSA3NXB4KTtcclxuICBkaXNwbGF5OiAtd2Via2l0LWJveDtcclxuICBkaXNwbGF5OiAtbXMtZmxleGJveDtcclxuICBkaXNwbGF5OiBmbGV4O1xyXG4gIC13ZWJraXQtYm94LWFsaWduOiBzdHJldGNoO1xyXG4gIC1tcy1mbGV4LWFsaWduOiBzdHJldGNoO1xyXG4gIGFsaWduLWl0ZW1zOiBzdHJldGNoO1xyXG4gIG92ZXJmbG93OiBoaWRkZW47XHJcbn1cclxuXHJcbi5tYWluLWNvbnRlbnR7XHJcbiAgcGFkZGluZzogMHB4O1xyXG4gIG92ZXJmbG93OiBhdXRvO1xyXG59XHJcblxyXG4uc2Vjb25kYXJ5LW1lbnV7XHJcbiAgcGFkZGluZzogMThweCAyMHB4IDIycHggMjBweDtcclxuICBiYWNrZ3JvdW5kLWNvbG9yOiAjZjhmOGY4O1xyXG59XHJcblxyXG4uZm9udC1ib2xkIHtcclxuICBmb250LXdlaWdodDogYm9sZDtcclxufVxyXG5cclxuLnNlYXJjaC1ib3h7XHJcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xyXG4gIHNwYW57XHJcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XHJcbiAgICB0b3A6IDE1cHg7XHJcbiAgICBmb250LXNpemU6IDEwcHg7XHJcbiAgICBsZWZ0OiAxMnB4O1xyXG4gICAgY29sb3I6IGdyYXk7XHJcbiAgfVxyXG4gIGlucHV0e1xyXG4gICAgcGFkZGluZy1sZWZ0OiAzMnB4O1xyXG4gIH1cclxufVxyXG5cclxuLnNpdGUtY29udGVudHtcclxuICBtYXJnaW4tYm90dG9tOiAwcHg7XHJcbn1cclxuXHJcbi5hcHAtY29udGVudHtcclxuICBwYWRkaW5nLWxlZnQ6IDIwcHg7XHJcbiAgcGFkZGluZy1yaWdodDogMjBweDtcclxuICBoZWlnaHQ6IGNhbGMoMTAwdmggLSAxNTBweCk7XHJcbiAgb3ZlcmZsb3cteTogYXV0bztcclxuICBvdmVyZmxvdy14OiBoaWRkZW47XHJcbn1cclxuXHJcblxyXG5cclxuLypcclxuLmFwcC5wYW5lbC5jYXRlZ29yeS13aWRnZXR7XHJcbiAgYm94LXNoYWRvdzogMCAzcHggN3B4IHJnYmEoMCwwLDAsMC4wNyk7XHJcbiAgaW1ne1xyXG4gICAgbWF4LWhlaWdodDogNDhweDtcclxuICAgIG1heC13aWR0aDogNDhweDtcclxuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICAgIHRvcDogNTAlO1xyXG4gICAgbGVmdDogNTAlO1xyXG4gICAgdHJhbnNmb3JtOiB0cmFuc2xhdGUoLTUwJSwgLTUwJSk7XHJcbiAgfVxyXG4gIC5wYW5lbC1mb290ZXJ7XHJcbiAgICBoZWlnaHQ6IDk2cHg7XHJcbiAgICBtYXgtaGVpZ2h0OiA5NnB4O1xyXG4gICAgbWluLWhlaWdodDogOTZweDtcclxuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcclxuICB9XHJcbiAgLnBhbmVsLWJvZHl7XHJcbiAgICBwYWRkaW5nOiAxMHB4O1xyXG4gIH1cclxuICAuY2F0ZWdvcnktd2lkZ2V0LXRpdGxle1xyXG4gICAgZm9udC1zaXplOiAxNHB4O1xyXG4gICAgZm9udC13ZWlnaHQ6IGJvbGQ7XHJcbiAgICBtaW4taGVpZ2h0OiA0MHB4O1xyXG4gICAgbWFyZ2luLWJvdHRvbTogNXB4O1xyXG4gIH1cclxuXHJcbiAgLmNhdGVnb3J5LXdpZGdldC1kZXNjcmlwdGlvbntcclxuICAgIG92ZXJmbG93OiBoaWRkZW47XHJcbiAgICB0ZXh0LW92ZXJmbG93OiBlbGxpcHNpcztcclxuICAgIGRpc3BsYXk6IC13ZWJraXQtYm94O1xyXG4gICAgLXdlYmtpdC1saW5lLWNsYW1wOiA0O1xyXG4gICAgLXdlYmtpdC1ib3gtZGlyZWN0aW9uOiBub3JtYWw7XHJcbiAgICAtd2Via2l0LWJveC1vcmllbnQ6IGhvcml6b250YWw7XHJcbiAgICBsaW5lLWhlaWdodDogMTZweDtcclxuICAgIG1heC1oZWlnaHQ6IDY0cHg7XHJcbiAgICBtaW4taGVpZ2h0OiA2NHB4O1xyXG4gICAgZm9udC1zaXplOiAxMXB4O1xyXG4gICAgXHJcbiAgfVxyXG4gIC5jYXRlZ29yeS13aWRnZXQtYWN0aW9ueyBcclxuICAgIG1hcmdpbi10b3A6IDZweDtcclxuICAgIC5iYWRnZXtcclxuICAgICAgZm9udC1zaXplOiA5cHg7XHJcbiAgICB9XHJcbiAgICAuYmFkZ2U6Zmlyc3QtY2hpbGR7XHJcbiAgICAgIGZsb2F0OiBsZWZ0O1xyXG4gICAgfVxyXG4gICAgLmJhZGdlOmxhc3QtY2hpbGR7XHJcbiAgICAgIGZsb2F0OiByaWdodDtcclxuICAgICAgY3Vyc29yOiBwb2ludGVyO1xyXG4gICAgfVxyXG4gIH1cclxuXHJcbiAgJjpob3ZlcntcclxuICAgIGJhY2tncm91bmQtY29sb3I6ICNmZmY7XHJcbiAgICAucGFuZWwtZm9vdGVye1xyXG4gICAgICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiAyMDAlIDA7XHJcbiAgICB9XHJcbiAgfVxyXG59Ki9cclxuXHJcbiAuYXBwLmNhcmQuY2F0ZWdvcnktd2lkZ2V0e1xyXG4gIGJveC1zaGFkb3c6IDAgM3B4IDdweCByZ2JhKDAsMCwwLDAuMDcpO1xyXG4gIGltZ3tcclxuICAgIG1heC1oZWlnaHQ6IDQ4cHg7XHJcbiAgICBtYXgtd2lkdGg6IDQ4cHg7XHJcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XHJcbiAgICBsZWZ0OiA1MCU7XHJcbiAgICB0b3A6IDUwJTtcclxuICAgIHRyYW5zZm9ybTogdHJhbnNsYXRlKC01MCUsIC01MCUpO1xyXG4gIH1cclxuICAuY2FyZC1mb290ZXJ7XHJcbiAgICBoZWlnaHQ6IDk2cHg7XHJcbiAgICBtYXgtaGVpZ2h0OiA5NnB4O1xyXG4gICAgbWluLWhlaWdodDogOTZweDtcclxuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcclxuICB9XHJcbiAgLmNhcmQtYm9keXtcclxuICAgIHBhZGRpbmc6IDEwcHg7XHJcbiAgfVxyXG4gIC5jYXRlZ29yeS13aWRnZXQtdGl0bGV7XHJcbiAgICBmb250LXNpemU6IDE0cHg7XHJcbiAgICBmb250LXdlaWdodDogYm9sZDtcclxuICAgIG1pbi1oZWlnaHQ6IDQwcHg7XHJcbiAgICBtYXJnaW4tYm90dG9tOiA1cHg7XHJcbiAgfVxyXG5cclxuICAuY2F0ZWdvcnktd2lkZ2V0LWRlc2NyaXB0aW9ue1xyXG4gICAgb3ZlcmZsb3c6IGhpZGRlbjtcclxuICAgIHRleHQtb3ZlcmZsb3c6IGVsbGlwc2lzO1xyXG4gICAgZGlzcGxheTogLXdlYmtpdC1ib3g7XHJcbiAgICAtd2Via2l0LWxpbmUtY2xhbXA6IDQ7XHJcbiAgICAtd2Via2l0LWJveC1kaXJlY3Rpb246IG5vcm1hbDtcclxuICAgIC13ZWJraXQtYm94LW9yaWVudDogaG9yaXpvbnRhbDtcclxuICAgIGxpbmUtaGVpZ2h0OiAxNnB4O1xyXG4gICAgbWF4LWhlaWdodDogNjRweDtcclxuICAgIGZvbnQtc2l6ZTogMTFweDtcclxuICAgIFxyXG4gIH1cclxuICAuY2F0ZWdvcnktd2lkZ2V0LWFjdGlvbnsgXHJcbiAgICBtYXJnaW4tdG9wOiA2cHg7XHJcbiAgICAuYmFkZ2V7XHJcbiAgICAgIGZvbnQtc2l6ZTogOXB4O1xyXG4gICAgfVxyXG4gICAgLmJhZGdlOmZpcnN0LWNoaWxke1xyXG4gICAgICBmbG9hdDogbGVmdDtcclxuICAgIH1cclxuICAgIC5iYWRnZTpsYXN0LWNoaWxke1xyXG4gICAgICBmbG9hdDogcmlnaHQ7XHJcbiAgICAgIGN1cnNvcjogcG9pbnRlcjtcclxuICAgIH1cclxuICB9XHJcblxyXG4gICY6aG92ZXJ7XHJcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjZmZmO1xyXG4gICAgLmNhcmQtZm9vdGVye1xyXG4gICAgICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiAyMDAlIDA7XHJcbiAgICB9XHJcbiAgfVxyXG59IFxyXG5cclxuLmFwcC1jb250ZW50IC5yb3cgLmNvbC1zbS0ye1xyXG4gIHBhZGRpbmctbGVmdDogMTVweDtcclxuICBwYWRkaW5nLXJpZ2h0OiAwcHg7XHJcbn1cclxuXHJcbi8qIC5hcHAtY29udGVudCAucm93IC5jb2wtc20tMntcclxuICBwYWRkaW5nLWxlZnQ6IDBweDtcclxuICBwYWRkaW5nLXJpZ2h0OiAwcHg7XHJcbn1cclxuXHJcbip7XHJcbiAgb3V0bGluZS1jb2xvcjogdHJhbnNwYXJlbnQ7XHJcbn0gKi9cclxuXHJcblxyXG4uY2F0ZWdvcnktbGFiZWwge1xyXG4gIGZvbnQtc2l6ZTogMTZweDtcclxuICBtYXJnaW4tdG9wOiAxMHB4O1xyXG59XHJcbi5jYXRlZ29yeS1kZXNjcmlwdGlvbiB7XHJcbiAgY29sb3I6ICNjMGMwYzA7XHJcbiAgZm9udC1zaXplOiAxMnB4O1xyXG4gIG1hcmdpbi1ib3R0b206IDE2cHg7XHJcbn1cclxuXHJcbi5tLXQtMCB7XHJcbiAgbWFyZ2luLXRvcDogMCAhaW1wb3J0YW50O1xyXG59XHJcblxyXG4ubS1iLTAge1xyXG4gIG1hcmdpbi1ib3R0b206IDAgIWltcG9ydGFudDtcclxufVxyXG5cclxuLm0tdC0zIHtcclxuICBtYXJnaW4tdG9wOiAzMHB4O1xyXG59XHJcbi5tLXQtNSB7XHJcbiAgbWFyZ2luLXRvcDogM3B4O1xyXG59XHJcblxyXG4ubS1wLTAge1xyXG4gIHBhZGRpbmc6IDAgIWltcG9ydGFudDtcclxufVxyXG4iXX0= */
